

a:link, a:visited, a:active
{
  color: #cccccc;
}

a:hover
{
 color: white;
}

.red {
  color: red;
}

.hidden, .botpot {
  display: none;
}

#wrapper
{
  background-image:url(/site_media/images/content_bg.jpg);
  padding-right: 50px;
  padding-left: 50px;
}

.center
{
  text-align: center;
}

.shift
{
  outline: 1px solid red;
  padding-left: 10px;
}

.announcement
{
  text-align:center;
  font-weight:bold;
}

.reviews
{
  font-size: 12px;
  padding: 1em;
}

h1
{
  margin: 10px;
  text-align: center;
  font-size: 20px;
}

button a, button a:hover {
  text-decoration: none!important;
  color: black!important;
}

.green_button {
    color: #333333;
    border: solid 1px #999999;
    background: #11db18; /* Old browsers */
    background: -moz-linear-gradient(top,  #11db18 23%, #3CB20E 68%, #3CB20E 68%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(23%,#11db18), color-stop(68%,#3CB20E), color-stop(68%,#3CB20E)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #11db18 23%,#3CB20E 68%,#3CB20E 68%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #11db18 23%,#3CB20E 68%,#3CB20E 68%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #11db18 23%,#3CB20E 68%,#3CB20E 68%); /* IE10+ */
    background: linear-gradient(to bottom,  #11db18 23%,#3CB20E 68%,#3CB20E 68%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#11db18', endColorstr='#3CB20E',GradientType=0 ); /* IE6-9 */
}

.green_button:hover { background: #13F23C; }
.green_button:active { background: #3CB20E; }

.product { margin: 5px; }

.toggle_target {
position: fixed;
height: 100%;
width: 100%;
background-color: rgba(0, 0, 0, 0.5);
top: 0px;
left: 0px;
}

.toggle_content {
display: block;
position: absolute;
top: 50px;
background-color: #eee;
border: 2px solid #333;
left: 140px;
right: 140px;
bottom: 50px;
overflow: auto;
padding: 0 20px;
border-radius: 5px;
}

.toggle_close {
text-align: right;
padding: 10px;
}

#footer span, #footer a
{
  color: black;
  font-weight: bold;
  margin: 10px;
}

#footer img {
  height: 20px;
  margin: 0px -20px;
}

#footer
{
  margin: 50px 0px;
  text-align:center;
}

#footer a:hover
{
  color: #666666;
}

#navigation
{
  height: 390px;
  background-image: url("/site_media/images/navigation.png");
  background-repeat: no-repeat;
  color: white;
  font-size: 120%;
  text-align: center;
  margin-left:15px;
}

#navigation ul
{
  margin-top: 10px;
  padding-top: 60px;
}

#navigation li
{
  margin: 10px 15px 5px 20px;
}

.endsection
{
  text-align: center!important;
    background-image: url("/site_media/images/leaf.jpg")!important;
    background-position: center bottom!important;
    background-repeat: no-repeat!important;
    margin-bottom: 25px;
    padding-bottom: 50px !important;
}

#content {
  text-align: left;
}

#content a:hover
{
  color: black;
  text-decoration: underline;
}

#header
{
  margin-top: 10px;
}

body
{
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 14px;
  color: #333333;
  line-height: 18px;
  background-color: #ecf5e2;
}

.gsc-control-cse {
  background-color: #efefef!important;
  border-color: #efefef!important;
}

h2 {
  font-size: 18px;
  font-weight: bold;
}

ul
{
  margin-right: 10px;
}

.content_list li
{
  margin: 15px 5px 5px 5px;
}

#contact_info, #personal_interests
{
  margin-top: 40px;
  margin-bottom: 60px;
}

#resume
{
  margin-right: 1em;
  margin-left: 1em;
  padding-bottom:330px;
}

.headshot
{
  width: 200px;
  margin-bottom: 1em;
}

#resume p, #resume h2, #resume h1
{
  margin-bottom: 1em;
}

#dvd_header img
{
  border-top: 2px solid #333333;
  border-right: 2px solid #333333;
  border-left: 3px solid #333333;
  border-bottom: 3px solid #333333;
}

#dvd_info li, #dvd_info p
{
  margin: 0.3em;
}

.testimonial
{
  padding-bottom: 1em;
}

#dvd_info ul
{
    float: left;
    list-style: circle outside none;
    margin-bottom: 1em;
    margin-left: 30px;
    width: 220px;
}

#dvd_info a:link, #dvd_info a:active, #dvd_info a:visited
{
  color: #333333;
} 

#dvd_info a:hover
{
  color: black;
} 

#dvd_info h2
{
  margin: 0.5em;
}

#dvd_info
{
  padding: 20px;
}

.testimonial_list {
  width: 100%!important;
  list-style: none!important;
}

.book_contents li
{
  font-size: 12px;
  margin: 0.5em;
}

#book_order {
  margin-top: 20px;
}

#book_header
{
  margin-left: 0.7em;
}

#book_header img
{
  height: 350px;
}

#health_tips a.sponsored {
    color: blue;
}

#health_tips li.sponsored p {
    text-align: center;
}

#health_tips li
{
  margin: 1em;
}

#health_tips p
{
  margin-top: 0.5em;
}

#book_link a
{
  color: #333333;
}

#book_link, #dvd_link
{
  margin-bottom: 1em;
}

.home_page_image {
  margin-left: 20px;
  height: 250px;
  margin-top: 20px;
}

#home_page p, #speaking p, #speaking h4
{
  margin: 1em;
}

#home_page a, #speaking a, .content_list a
{
  color: black;
}

#home_page a:hover, #speaking a:hover, .content_list a:hover
{
  color: #666666;
}

#speaking ul
{
  list-style-type: circle;
  width: 400px;
  text-align: left;
  margin-left: 50px;
}

#photo_downloads {
  text-align: center;
}

#contact p {
  font-size: 110%;
  margin: 5px 50px;
}

#email_area
{
  font-size: 90%;
  margin: 10px 0px 10px 15px;
  border: 1px solid #3CB20E;
  padding: 5px;
}

#contact, #photo_downloads
{
  margin-top: 1em;
}

#email_area
{
  text-align: center;
}

#photo_downloads img
{
  border: 1px solid black;
  height: 200px;
  margin: 0.5em;
}

#contact
{
  font-weight: bold;
}

#contact a
{
 color: black;
}

#contact a:hover
{
  color:#666666;
}

#social_network_buttons img
{
  height: 30px;
  margin-top: 1em;
}

.speaking_review li
{
  list-style-type: none;
  padding: 0px;
}

.speaking_review p
{
  line-height: 14px;
  font-size: 14px;
}

#consult p
{
  margin: 0.5em;
}

.bulleted
{
  list-style-type: circle;
  text-align: left;
  margin-left: 50px;
}

.bulleted li
{
  margin: 10px;
}

.video
{
  text-align: center;
  margin: 0.5em;
}

.video p
{
  margin: 0.5em;
}

.amazon_link a
{
  color: black;
}

.amazon_link a:hover
{
  color: #666666;
}

#kindle_img, #dvd_bundle_img
{
  width: 180px;
}

#sticker
{
  text-align:center;
}

#expert_witness
{
  margin-left: 25px;
  text-align: left;
}

#expert_witness li
{
  list-style-type: disc;
  margin-left: 50px;
} 

.content_list {
  margin-top: 20px;
}

#one_sheet {
  text-align: center;
  padding: 40px 5px;
  margin-bottom: 30px!important;
  outline: 1px solid #333;
  font-size: 130%;
}

li.category_T h4, li.category_W h4, li.category_R h4 {
  padding-left: 30px;
}

li.category_T {
  background-image: url('/site_media/images/television.png');
  background-repeat: no-repeat;
}
li.category_R {
  background-image: url('/site_media/images/radio.png');
  background-repeat: no-repeat;
}

li.category_W {
  background-image: url('/site_media/images/written.png');
  background-repeat: no-repeat;
}

.discount_code_target {
    text-decoration: underline;
    color: red;
}

#discount_code_form {
 position: absolute;
 display: none;
 background-color: white;
 padding: 20px;
 border: 1px solid #333;
 border-radius: 5px;
}

#upcoming_events {
  font-size: 90%;
  padding: 0 30px;
}

#upcoming_events h2 {
  margin: 10px 0;
}

#upcoming_events li h4 {
  padding-left: 40px;
  min-height: 40px;
  background-image: url('/site_media/images/calendar_icon1.png');
  background-repeat: no-repeat;
  background-position: 0px center;
}

#upcoming_events li a {
  color: black;
}

#upcoming_events li a:hover {
  color: #666;
}