{% extends "base.html" %}

{% block content %}

<div id="resume">
<h1>Dr. Kathy L. Gruver, PhD, LMT, RM, NHC</h1>

<div class="grid_5">
<img src="/site_media/images/headshot_1.jpg" class="headshot" alt="Kathy Gruver" />
</div>

<div class="grid_4" id="contact_info">
<p>Doctorate of Traditional Naturopathy</p>

<p>PO Box 3184</p>

<p>Santa Barbara, CA 93130</p>

<p>805-680-1984</p>

<p>healingcirclemassage@hotmail.com</p>
</div>

<h2>Training and Education</h2>

<p>2011 Harvard Continuing Medical Education. Lifestyle Medicine and Stress, Prescribing Exercise, Osteoporosis, Nutrition and Metabolic Syndrome, Depression, Addiction, Anxiety, Mental Health and more to be studied throughout the year.</p>

<p>2010-2011 NCCAM (National Institutes of Health). Complementary and Alternative Medicine Online Continuing Education Series. Certificate Program. Neurobiological Correlates of Acupuncture, Integrative Medicine, CAM and Aging, Manipulation and Body Based Therapies, Acupuncture, Mind-Body Medicine, Herb and other Dietary Supplements, Health and Spirituality, Overview of CAM</p>

<p>March 2009 - March 2011 Clayton College of Natural Health. PhD in Natural Health. Mind/Body Medicine, Chinese Medicine, Ayurvedic Medicine, Toxicity and Detox, Women's Health Issues, Immunology, Research Design, and a dissertation entitled How Our Words, Thoughts, and Expectations Affect Physiology and Health Outcomes.</p>

<p>2010 American Naturopath Medican Association Convention.  26 hours of lecture.  On various topics such as Iridology, Legal, Cancer, Nutrition, Muscle Testing, Healthy Aging and Mind/Body Medicine.  I was honored to be a presenter at this year's conference.</p>


<p>2009 American Naturopath Medical Association Convention. 26 hours of lecture on various topics such as Detoxification, Nutrition, Energy Medicine, Iridology, Chemically-induced Disease, Minerals, Acupressure, Anti-aging, Cancer Treatments, GMO’s, Preventing Healing Crisis, Emotional Auditing, Legal</p>

<p>2007- January 2009 Clayton College of Natural Health. M.S. in Natural Health. Highest Honors. Curriculum included Nutrition, Biology, Cancer Treatment, Anatomy, Holistic Development, Healing Relationships, Homeopathy for Animals, Psychospiritual Health, Herb/Vitamin/Mineral/RX interaction, Personal Environment, Mind/Body Wellness. Currently pursuing a Ph.D. in Natural Health.</p>

<p>2008 Comprehensive Nutrition Training. Crayhon Research. 16 hours of lecture on latest nutritional breakthroughs, eating and supplements for disease, politics of food, autoimmune disorders, gastrointestinal health, weight loss.</p>

<p>2008 American Naturopath Medical Association Convention. 26 hours of lecture on various topics such as Nutrition for Stress, Fingernail and Tongue Analysis, Chronic Pain, Iridology, Food and Disease, Carpal Tunnel Syndrome (non-surgical treatments), Client Communication, Inflammation, Cancer Therapies, Skin disorders, Legal Concerns and CPR Certification with the American Heart Assoc.</p>

<p>June 2008 Food First Seminar with Crayhon Research. 6 hour lecture on latest nutritional research and special diets for treating disease.</p>

<p>March 2008 Food First Seminar with Crayhon Research. 6 hour lecture on latest nutritional research and health.</p>

<p>2006-2007 Clayton College of Natural Health. Doctor of Naturopathy for Health Care Professionals. Highest Honors. Curriculum included Herbology, Iridology, Homeopathy, Diet, Cleansing and Nutrition, Mind-body medicine, Practicum and Assessment techniques.</p>

<p>2007 Energetic Kinesiology and Muscle Testing. 8 hours. Work with kinesiology to assess conditions and recommend natural remedies.</p>

<p>2007 American Naturopath Medical Association Convention. 26 hours of lecture on various topics such as Cell Healing, Nutrition, Whole Foods, Minerals, Iridology, Detoxification, Children’s Nutrition, Natural Pain Relief, Hormones, Emotional Medicine, Heart Disease, and Color Healing. Special workshops in Probiotics, Energy Balancing, Pain Relief and Intestinal Disorders.</p>

<p>2007 Healing And the Childbearing Year. Central Coast Doula Association Conference featuring Penny Simkin. Childhood Sexual Abuse and its effect on childbearing, Postpartum care, Infant care, Healing Remedies for the childbearing year.</p>

<p>2007 Drs. Gaby and Wright Nutrition and Disease Lecture. 4 day lecture addressing every vitamin, mineral, enzyme and amino acid and information on nutrition for over 300 diseases and disorders.</p>

<p>2006 American Naturopath Medical Association Convention. 26 hours of lecture on various topics such as Nutrition, Mind-body medicine, Herbs, Chinese Medicine, Breath work, Homeopathics, Cancer, Depression and Diabetes education.</p>

<p>2006 Clayton College of Natural Health. Certificate of Natural Wellness Highest Honors, Curriculum included Nutrition, Mind-Body Medicine, Alternative Practices, Holistic Lifestyles, and Energy Techniques.</p>

<p>2003 Medical Massage Certification. LMTSuccessGroup, 45 hour program with training in Postural Distortion, Back Conditions, Cervical Conditions, Arm and Leg Disorders, Insurance Billing and Healing with E-Stim.</p>

<p>2001 Training and Certification SB School of Massage. 200 hour program with training in Swedish, Sports, Shiatsu, On-site Chair, Chiropractic Massage, Pregnancy, Myofascial Release, Deep Tissue, Polarity Balancing, Anatomy and Ethics and Business.</p>

<p>1995 Training and Certification School of Massage, Encino, CA. 75 hour program with training in Swedish, Deep Tissue, Anatomy and Ethics.</p>

<p>3 years Private Study with Pat Mauro, LMT, RN, EMT; Pittsburgh, PA. Training in Deep Tissue, Body Manipulation, Herbs, and Intuitive Massage</p>

<p>1988-1992 Point Park University, Pittsburgh, PA. BFA theatre, Minor in Psychology, Cum Laude</p>

<p>Reiki Certification to Master Level with Diane Vaughn RM, Venice, CA.</p>

<p>I have taught group as well as individual classes and perform healings and attunements.</p>

<img src="/site_media/images/headshot_2.jpg" class="headshot" alt="Kathy Gruver" />

<h2>Lecture, Write, and Guest Appearances</h2>

<p>2010 Radio interviews on Obesity, Mind/Body Medicine for Back Pain, Home Back Care, Depression, Headaches, Healthy choices</p>

<p>Oct/Dec 2009 Two guest lectures at Santa Barbara Optimists on Mind/Body medicine and health</p>

<p>Oct 2009 Workshop at NAWBO on Mind/Body medicine and women’s health</p>

<p>Sept 2009 Guest lecture at SBBCollege on Success in your Massage Practice</p>

<p>Aug 2009 3 Guest interviews on Mind/Body Medicine, Home Health and Massage, Back Pain Solutions</p>

<p>June 2009 Lecture at Santa Barbara Insurance Academy on Avoiding Repetitive Stress Injuries.</p>

<p>July 2009 Pod cast with The Holistic Option on The Emotional Components of Back Pain.</p>

<p>Multiple dates 2009 Radio interviews on Herbal Health, Pain Management using Massage, Homeopathics, Home care in a distressed economy and Tips for a healthy pregnancy, Back pain, Mind/body medicine, Emotional components of health and Massage for health.</p>

<p>May 2009 Panel Discussion at Girls Inc on education and women in business.</p>

<p>Dec 2008/Jan 2009 Guest interview on Southwest Blend Radio (Reiki and Tips for a Healthy New Year)</p>

<p>Oct 2008 Lecture at Spiritland Bistro’s Tuesday Nights for Healing. “How to stay sick: How to ensure you will be sick and unhappy the rest of your miserable life.”</p>

<p>Oct 2008 Guest interview on The Business of Life radio (Office Wellness)</p>

<p>Sept 2008 Guest interview on Southwest Blend Radio (Bach Flower Essences)</p>

<p>Aug 2008 Guest interview on The Wellness Experience (Natural Health Consulting)</p>

<p>July 2008 Guest interview on Natural Solutions Radio.</p>

<p>May 2008 Panel Discussion at Girls Inc. on women in business.</p>

<p>Oct 2006, Jan 2007 Lectured at Antioch University on Depression and Natural Health</p>

<h2>Writer. My articles have been republished in 5 different countries:</h2>

<p>On-Going Monthly column in Pacific Coast Business Times on Corporate Wellness</p>

<p>On-Going Regular contributing writer to Massage Magazine on subjects that are of interest to fellow massage therapists such as Awkward Massage Moments, Empathy, Up-Selling Products, How to Fire Clients, Professionalism in Massage.</p>

<p>On-Going Regular contributing writer to Southwest Blend Magazine on a variety of health topics.</p>

<p>On-Going Guest Blogger at Massage School website. Articles for newly graduated massage students.</p>

<p>October ’08 Bizchicksrule.com. Avoiding stress</p>

<p>September ’08 Bizchicksrule.com. Networking for women</p>

<p>October ’08 Southwest Blend. Benefits of Massage</p>

<p>August ’08 Southwest Blend. Bach Flower Essences</p>

<p>August and December ’07 SB Fitness Magazine. Massage Techniques, 10 Health Tips</p>

<p>Featured as an expert in articles in Discover Magazine, A Holistic Option, Massage Magazine, SB Fitness Magazine, First for Women, Everyday Health.com, Different Strokes, Pacific Coast Business Times, Bottle Water Web and Dermascope Magazine.</p>

<h2>Employment</h2>

<p>Private Massage and Natural Health Practice, 2001-present SANTA BARBARA, CA (formerly in Los Angeles, CA 1995-1999)</p>

<p>Work with individuals (22-26/week) in a therapeutic setting for recovery from injuries/stress. Close work with local chiropractors for continuity of care. Use techniques including deep tissue, trigger point, prenatal techniques, and Reiki. Natural Health Consultations and Birth Assisting also available. Selected as a “Best Practice” by Massage Magazine for 2006 AND 2007</p>

<p>Santa Barbara Business College, Faculty, September 2007 – June 2008 SANTA BARBARA, CA Instructor for Pathology for Massage, Nutrition for Fitness and Introduction to Nutrition for Fitness Trainers.</p>

<p>Massage Therapist/Chiropractic Assistant, 2001-2003 DR’S CRAVIOTTO, DAWSON AND WAGNER, DC’s</p>

<p>Work closely with chiropractors on treatment of their patients.</p>

<p>Selected by Massage Magazine as a “Best Practice” for 2006 and 2007</p>

<p>Selected for inclusion in Cambridge Who’s Who, 2010.</p>

<p>Licensed for massage therapy in Santa Barbara County and Cities of Santa Barbara and Goleta.</p>

<p>Member of Associated Bodywork Massage Professionals, Clayton College Alumni Association, American Naturopath Medical Association, National Association of Women Business Owners, and Central Coast Doula Assoc.</p>

<div class="grid_5" id="personal_interests">
<h2>Personal Interests</h2>
<p>I enjoy reading, teaching, scuba diving, writing, theatre, dancing, improvisation, good food and wine with my husband, and my cats.</p>
</div>
<div class="grid_4">
<img src="/site_media/images/headshot_3.jpg" class="headshot" alt="Kathy Gruver" />
</div>

</div>
{% endblock %}
