{% extends "base.html" %}

{% block content %}

<div id="resume">
<h1>Dr. Kathy L. Gruver, PhD, LMT, RM, CHt</h1>

<div class="grid_5">
<img src="/site_media/images/headshot.jpg" class="headshot" alt="Kathy Gruver" />
</div>

<div class="grid_4" id="contact_info">
<p>PO Box 3184</p>

<p>Santa Barbara, CA 93130</p>

<p>805-680-1984</p>

<p><a href="mailto:kathy@kathygruver.com">kathy@kathygruver.com</a></p>
</div>

<div class="clear">&nbsp;</div>
<div class="endsection"> </div>


<h3>Lecture, Writing and Guest Appearances:</h3>

<p>I have written five books on health and produced an instructional massage DVD. I have appeared on over 250 radio and TV shows as a guest expert, penned dozens of articles for professionals and laypeople. I have been a contributing expert to numerous publications and have given over 200 educational lectures around the world for everyone from nurses in the Middle East to 911 dispatchers in New Orleans, corporations around the US and teachers in my own backyard. I am currently working a project for the military to create and institute a stress reduction program. For fun and stress relief I do flying trapeze and hip hop dance. Notable publications include: Fitness, Wall Street Journal, CNN, Dr Oz's Good Life, Glamour, Ladies Home Journal, NPR, Lifetime Television, CBS NY, SkyNews London, Massage and Bodyworks Magazine, Massage Magazine, Fox, Awareness Magazine, Huffington Post, Prevention, Men’s Health, and my own show airing nationally this year on Oasis TV.</p>

<div class="clear"></div>
<div class="endsection"></div>

<h3>Awards and Recognition:</h3>
<ul class="award_list">
<li>Author: The Alternative Medicine Cabinet, winner of the Beverly Hills Book Awards and finalist for the IndyExcellence Awards.</li>

<li>Author: Conquer your Stress with Mind/Body Techniques, Global Ebook Awards Gold Medal Winner, winner of the National Indie Excellence Awards, winner of the Beverly Hills Book Awards, finalist for the USA Best Book Awards, and voted one of the Top 50 Reads for 2013.</li> 

<li>Finalist for the Gutsy Gal Awards, 2012.</li>

<li>Winner of NAWBO’s Spirit of Entrepreneurship award, 2012 in health and fitness.</li>

<li>Selected by Massage Magazine as a “Best Practice” for 2006 and 2007</li>
</ul>
<div class="clear"></div>
<div class="endsection"></div>

<h3>Training and Education:</h3>


<p>2014 <strong>HMI (Hypnosis Motivation Institute)</strong> Classes in History of Hypnosis, Pain Management, Past Life Regression, Foundations of Hypnotherapy, EFT, Pre and Post Surgical Hypnosis, Clinical Cases. Enrolled in full program for certification with Sept 2014 Graduation date. Specializing in pain management, stress reduction, pre and post op hypnotherapy.</p>

<p>2011 - present <strong>Harvard Continuing Medical Education</strong> Lifestyle Medicine and Stress, Alzheimer’s Disease, Toxicology, Lifestyle Medicine and Prescribing Exercise, Lifestyle and Osteoporosis, Depression, Disaster Medicine, Endocrine Emergencies, Type 2 Diabetes, Addiction, HIV, Hypertension, Hypercholestemia, Anxiety, Mental Health, Breast Cancer, Cancer and more added yearly.</p>

<p>Nov 2013 <strong>Evolving Consciousness Health Cruise</strong> Classes include: Tai Chi, Meditation, Heart-Centered Therapy, Communication, Brain Science, Biology of Bliss with Norm Shealy, Nutrition, Breathwork. <u>24 hours of CE.</u></p>

<p>Oct 2013 <strong>Harvard Medical School Continuing Education</strong> Meditation and Psychotherapy: Deepening Mindfulness with Thich Nhat Hanh and Jon Kabat-Zinn. <u>14 hours of study and practicum.</u></p>

<p>Sept 2013 <strong>American Naturopath Medical Association Convention.</strong> <u>26 hours of lecture.</u></p>

<p>Oct. 2012 <strong>World Congress of Quantum Medicine.</strong> <u>30 hours of lecture</u> with speakers including Dr. Roland Thomas, Dr. Yuri Kronn, Dr. Paul Drouin, Dr. Amit Goswami, Dr. Masuru Emoto.</p>

<p>July 2012 <strong>American Naturopath Medical Association Convention.</strong> <u>26 hours of lecture.</u> Cancer, Mind-Body Medicine, Vitamin D, Autism, Herbs, Nutrients, Legal Issues. I was a keynote speaker on stress and relaxation.</p>

<p>Dec 2011 <strong>Harvard Medical Continuing Education</strong> <u>Meditation & Visualization Practices for Everyday Living & Wellbeing and to Enhance Peak Performance.</u> Daniel Brown, PhD, ABPH, Boston, MA. <u>15 hours of continuing education.</u></p>

<p>Oct 2011 <strong>Restorative Medicine Conference, AARM,</strong> <u>Evidence-Based Clinical Research Review in Endocrinology and Chronic Disease.</u>  Classes include: Liver disease (Jill Stansbury), Mind/Body Medicine (Gabor Mate and Paul Epstein), Hormones, Autism, Iodine Deficiency, Toxins and Heavy Metals, Pediatric Vaccines (Heather Zwickey), <u>23 hours of continuing education.</u></p>

<p>Sept 2011 <strong>SP West Coast</strong> <u>Essentials of Nutritional Therapy</u>, Dr. Jay Robbins, DC. <u>8 hour</u> course on assessment of nutritional deficiency and solutions to disease states.</p>

<p>June 2011 <strong>Benson-Henry Institute for Mind-Body Medicine at Harvard Medical School</strong> <u>The Revolutionary Practice of Mind/Body Medicine</u> taught by Dr. Herbert Benson et al. Week long course covering the stress and relaxation response, sleep, exercise, scientific review of mind/body interactions, strategic skill training, disease specific interventions and how to incorporate mind/body medicine into your practice.</p>

<p>2010-2011 <strong>NCCAM (National Institutes of Health)</strong> <u>Complementary and Alternative Medicine Online Continuing Education Series.</u> Certificate Program. Neurobiological Correlates of Acupuncture, Integrative Medicine, CAM and Aging, Manipulation and Body Based Therapies, Acupuncture, Mind-Body Medicine, Herb and other Dietary Supplements, Health and Spirituality, Overview of CAM.</p>

<p>2009-2011 <strong>Clayton College of Natural Health.</strong> <u>PhD in Natural Health</u> <strong>Highest Honors</strong>, with an emphasis in mind/body medicine. Health and Human Energy, Women’s Health Issues, Immunology, Mind/Body Wellness, TCM, Ayurvedic Medicine, Toxicity, Prosperity, Universal Energy and Health, <u>Dissertation: How our words, thoughts and beliefs affect physiology and health outcomes.</u></p>

<p>2011	<strong>American Naturopath Medical Association Convention.</strong> <u>26 hours of lecture.</u> Was privileged to be one of the featured speakers on Reiki.</p>

<p>2010 <strong>American Naturopath Medical Association Convention.</strong> <u>26 hours of lecture.</u> Was privileged to be one of the featured speakers on Mind/Body Medicine.</p>

<p> 2009 <strong>American Naturopath Medical Association Convention.</strong> <u>26 hours of lecture</u> on various topics such as Detoxification, Nutrition, Energy Medicine, Iridology, Chemically-induced Disease, Minerals, Acupressure, Anti-aging, Cancer Treatments, GMO’s, Preventing Healing Crisis, Emotional Auditing, Legal</p>

<p>2007- January 2009 <strong>Clayton College of Natural Health.</strong>  <u>M.S. in Natural Health.</u> <strong>Highest Honors.</strong> Curriculum included Nutrition, Biology, Cancer Treatment, Anatomy and Physiology, Human Development, Healing Relationships, Homeopathy for Animals, Psychospiritual Health, Herb/Vitamin/Mineral/RX interaction, Personal Environment, Mind/Body Wellness.</p>

<p>2008 <strong>Comprehensive Nutrition Training.</strong> Crayhon Research. <u>16 hours of lecture</u> on latest nutritional breakthroughs, eating and supplements for disease, politics of food, autoimmune disorders, gastrointestinal health, weight loss.<p>

<p> 2008 <strong>American Naturopath Medical Association Convention.</strong> <u>26 hours of lecture</u> on various topics such as Nutrition for Stress, Fingernail and Tongue Analysis, Chronic Pain, Iridology, Food and Disease, Carpal Tunnel Syndrome (non-surgical treatments), Client Communication, Inflammation, Cancer Therapies, Skin disorders, Legal Concerns and CPR Certification with the American Heart Assoc. </p>

<p>June 2008 <strong>Food First Seminar</strong> with Crayhon Research. <u>6 hour lecture</u> on latest nutritional research and special diets for treating disease. </p>

<p>March 2008 <strong>Food First Seminar</strong> with Crayhon Research.  <u>6 hour lecture</u> on latest nutritional research and health.</p>

<p>2006-2007  <strong>Clayton College of Natural Health.</strong>  <u>Doctor of Naturopathy for Health Care Professionals.</u> <strong>Highest Honors.</strong> Curriculum included Herbology, Iridology, Homeopathy, Diet, Cleansing and Nutrition, Mind-body medicine, History and Foundations of Naturopathy, Practicum and Assessment techniques.</p>

<p>2007 <strong>Energetic Kinesiology and Muscle Testing</strong> <u>8 hours.</u> Work with kinesiology to assess conditions and recommend natural remedies.</p>

<p>2007 <strong>American Naturopath Medical Association Convention</strong> <u>26 hours of lecture</u> on various topics such as Cell Healing, Nutrition, Whole Foods, Minerals, Iridology, Detoxification, Children’s Nutrition, Natural Pain Relief, Hormones, Emotional Medicine, Heart Disease, and Color Healing. Special workshops in Probiotics, Energy Balancing, Pain Relief and Intestinal Disorders.</p>

<p>2007 <strong>Healing And the Childbearing Year</strong< Central Coast Doula Association Conference featuring Penny Simkin. Childhood Sexual Abuse and its effect on childbearing, Postpartum care, Infant care, Healing Remedies for the childbearing year. </p>

<p>2007  <strong>Dr's Gaby and Wright Nutrition and Disease Lecture</strong>  <u>4 day lecture</u> addressing every vitamin, mineral, enzyme and amino acid and information on nutrition for over 300 diseases and disorders. </p>

<p>2006 <strong>American Naturopath Medical Association Convention</strong> <u>26 hours of lecture</u> on various topics such as Nutrition, Mind-body medicine, Herbs, Chinese Medicine, Breath work, Homeopathics, Cancer, Depression and Diabetes education. </p>

<p>2006 <strong>Clayton College of Natural Health.</strong> Certificate of Natural Wellness Highest Honors, Curriculum included Nutrition, Mind-Body Medicine, Alternative Practices, Holistic Lifestyles, and Energy Techniques.</p>

<p>2003 Medical Massage Certification <strong>LMTSuccessGroup</strong>, <u>45 hour program</u> with training in Postural Distortion, Back Conditions, Cervical Conditions, Arm and Leg Disorders, Insurance Billing and Healing with E-Stim.</p>

<p>2001  Training and Certification <strong>SB School of Massage</strong>, <u>200 hour program</u< with training in Swedish, Sports, Shiatsu, On-site Chair, Chiropractic Massage, Pregnancy, Myofascial Release, Deep Tissue, Polarity Balancing, Anatomy and Ethics and Business. </p>

<p>1995  Training and Certification <strong>School of Massage</strong>, Encino, CA. <u>75 hour program</u> with training in Swedish, Deep Tissue, Anatomy and Ethics.</p>

<p><u>3 years</u> <strong>Private Study</strong> with Pat Mauro, LMT, RN, EMT; Pittsburgh, PA. Training in Deep Tissue, Body Manipulation, Herbs, and Intuitive Massage</p>

<p>1988-1992 <strong>Point Park University</strong>, Pittsburgh, PA  <u>BFA theatre, Minor in Psychology</u>, <strong>Cum Laude</strong></p>

<p><u>Reiki Certification</u> to <strong>Master Level</strong> with Diane Vaughn RM, Venice, CA. </p>

<p>I have taught group as well as individual classes and perform healings and attunements.</p>

<p>Licensed for massage therapy in SB County, City of SB and State of California</p>

<p>Member of the American Hypnosis Association</p>

<p>Member of Associated Bodywork Massage Professionals</p>

<p>American Naturopath Medical Association</p>

<div class="clear"></div>
<div class="endsection"></div>

<h3>Personal Interests:</h3>
<p>I enjoy dance, flying trapeze, reading, teaching, scuba diving, writing, theatre, improvisation, good food with my husband, and my 2 cats.</p>

<div class="clear"></div>
<div class="endsection"></div>

<div class="grid_9 center">
<img src="/site_media/images/headshot_3.jpg" class="headshot" alt="Kathy Gruver" />
</div>

</div>
<div class="endsection"> </div>


{% endblock %}
