<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
{% load email_tags %}
  <head>
    <title>{% block title %}The Alternative Medicine Cabinet{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="google-site-verification" content="0zWozPclWQ95D9TrJIS5RSt-1cHiE2br_loxLvyTgpw" />
    <meta name="keywords" content="massage,therapy,therapeutic,deep tissue,trigger point,sports,corporate,reiki,ear coning,ear candling,health,birth assistant,naturopath,alternative medicine,CAM,complimentary alternative medicine,santa barbara,goleta,acupressure,pathology,nutrition,therapist,natural health,doula,pain relief,lectures,workshops,classes,integrated medicine,traditional naturopath,ND,herbs,homeopathics,bach flower essences,consulting,montecito,california,centralcoast,education,dvd,book,body,mind,spirit,mind/body medicine,mind/body connection,PhD.,mind-body,PNI,psychosomatic therapy,meditation, positive thought,affirmations,natural medicine"/>
    <meta name="description" content="Improve your health, learn about alternative medicine and heal on all levels of body, mind and spirit with author of the Alternative Medicine Cabinet, Kathy Gruver, PhD." />



    {% block css %}
  <link rel="stylesheet" type="text/css" href="/site_media/stylesheets/960.css" />
  <link rel="stylesheet" type="text/css" href="/site_media/stylesheets/text.css" />
  <link rel="stylesheet" type="text/css" href="/site_media/stylesheets/reset.css" />
  <link rel="stylesheet" type="text/css" href="/site_media/stylesheets/base.css" />
    <script type="text/javascript" src="/site_media/scripts/jquery-1.2.3.min.js"></script>
    <script type="text/javascript" src="/site_media/scripts/base.js"></script>
    <link rel="icon" type="image/gif" href="/site_media/images/favicon.gif" />
    {% endblock %}
    {% block section_css %}{% endblock %}
    {% block page_css %}{% endblock %}
  </head>
  <body>

    <div class="container_16">
      <div id="masthead" class="grid_16">
	<img src="/site_media/images/masthead.gif" alt="Healing: Body, Mind, Spirit" />
      </div>
      <div id="page">
	<div class="grid_6">
	  <div id="navigation">
	    <ul>
	      <li><p><a href="/">Home</a></p></li>
	      <li><p><a href="/books/">Buy the Book</a></p></li>
	      <li><p><a href="/background/">Kathy's Background</a></p></li>
	      <li><p><a href="/speaking/">Speaking</a></p></li>
	      <li><p><a href="/upcoming_events/">Upcoming Events</a></p></li>
	      <li><p><a href="/health_tips/">Health Tips</a></p></li>
	      <li><p><a href="/consult/">Consults with Kathy</a></p></li>
	      <li><p><a href="/recommended_resources/">Recommended Resources</a></p></li>
	      <li><p><a href="/dvds/">DVDs</a></p></li>
	      <li><p><a href="/media/">Media</a></p></li>
	    </ul>
	  </div>
<div class="announcement"><p>Airing March 1st</p>
<embed height="275" width="350" flashvars="v=D8U37FH2502727" allowfullscreen="true" swliveconnect="true" salign="t" wmode="transparent" quality="high" bgcolor="#FFFFFF" name="videoPlayer2" id="videoPlayer2" style="" src="http://www.thebalancingact.com/BA_Video_Player_320.swf" type="application/x-shockwave-flash"/>     </div>
	  <div id="email_form">
	    {% display_email_form %}
	  </div>
	  {% block video %}
	  {% endblock %}
	</div>
	<div id="header" class="grid_10 omega">
	  {% block header %}<h1>The Alternative Medicine Cabinet</h1>{% endblock %}
	</div>
	<div id="content" class="grid_10 omega">
	  {% block content %}
	  {% endblock %}
	</div>

<div class="clear">&nbsp;</div>
<h3 class="announcement">Kathy is scheduled to appear March 1, 2011 on Lifetime Television's The Balancing Act. Stay tuned for more details.</h3>
 
<!-- START 728x90 thebalancingact.com Code -->
<p align="center">
    <script type="text/javascript" src="http://www.thebalancingact.com/adpeeps/adpeeps.php?bfunction=showad&uid=100000&bmode=order&gpos=center&bzone=participant&bsize=728x90&btype=3&bpos=default&ver=2.0&btotal=1&btarget=_blank&bborder=0">
    </script>
    <noscript>
    <a href="http://www.thebalancingact.com/adpeeps/adpeeps.php?bfunction=clickad&uid=100000&bmode=order&bzone=participant&bsize=728x90&btype=1&bpos=default&ver=2.0" target="_blank">
    <img src="http://www.thebalancingact.com/adpeeps/adpeeps.php?bfunction=showad&uid=100000&bmode=order&bzone=participant&bsize=728x90&btype=1&bpos=default&ver=2.0" width="728" height="90" alt="Click Here!" title="Click Here!" border="0" /></a>
    </noscript>
</p>
	<div id="footer" class="grid_16">
	  <span>&copy; 2010 Kathy Gruver. All Rights Reserved.</span>
	  <span>805-680-1984</span>
	  <span><a href="mailto:healingcirclemassage@hotmail.com">healingcirclemassage@hotmail.com</a></span>
	</div>
      </div>
    </div>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-88241-12");
pageTracker._trackPageview();
} catch(err) {}</script>

  </body>
</html>
