<!DOCTYPE html>
<html>
{% load email_tags %}
{% load video_tags %}
{% load event_tags %}
  <head>
    <title>{% block title %}The Alternative Medicine Cabinet{% endblock %}</title>
    <meta charset="utf-8" />
    <meta name="google-site-verification" content="0zWozPclWQ95D9TrJIS5RSt-1cHiE2br_loxLvyTgpw" />
    <meta name="keywords" content="massage,therapy,therapeutic,deep tissue,trigger point,sports,corporate,reiki,ear coning,ear candling,health,birth assistant,naturopath,alternative medicine,CAM,complimentary alternative medicine,santa barbara,goleta,acupressure,pathology,nutrition,therapist,natural health,doula,pain relief,lectures,workshops,classes,integrated medicine,traditional naturopath,ND,herbs,homeopathics,bach flower essences,consulting,montecito,california,centralcoast,education,dvd,book,body,mind,spirit,mind/body medicine,mind/body connection,PhD.,mind-body,PNI,psychosomatic therapy,meditation, positive thought,affirmations,natural medicine"/>
    <meta name="description" content="Improve your health, learn about alternative medicine and heal on all levels of body, mind and spirit with author of the Alternative Medicine Cabinet, Kathy Gruver, PhD." />
    <meta property="og:title" content="The Alternative Medicine Cabinet" />
    <meta property="og:site_name" content="The Alternative Medicine Cabinet" />
    <meta property="og:url" content="http://thealternativemedicinecabinet.com" />
    <meta property="og:description" content="Improve your health, learn about alternative medicine and heal on all levels of body, mind and spirit with author of the Alternative Medicine Cabinet, Kathy Gruver, PhD." />
    <meta property="og:image" content="http://thealternativemedicinecabinet.com/site_media/images/AMC_Front_Cover.JPG" />
    <meta property="fb:app_id" content="1397617927186864" />
    <link rel="publisher" href="https://plus.google.com/+KathyGruver" />

    {% block css %}
    <link rel="stylesheet" type="text/css" href="/site_media/stylesheets/960.css" />
    <link rel="stylesheet" type="text/css" href="/site_media/stylesheets/text.css" />
    <link rel="stylesheet" type="text/css" href="/site_media/stylesheets/reset.css" />
    <link rel="stylesheet" type="text/css" href="/site_media/stylesheets/base.css" />

    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script type="text/javascript" src="/site_media/scripts/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/site_media/scripts/base.js"></script>
    <link rel="icon" type="image/gif" href="/site_media/images/favicon.gif" />
    {% endblock %}
    {% block section_css %}{% endblock %}
    {% block page_css %}{% endblock %}
  </head>
  <body>

    <div class="container_16" id="wrapper">
      <div id="masthead" class="grid_16" style="margin-left: 3px !important;">
	<img src="/site_media/images/masthead.png" alt="Healing: Body, Mind, Spirit" />
      </div>
      <div id="page">

	<div class="grid_6">

	  <div id="navigation">
	    <ul>
	      <li><p><a href="/">Home</a></p></li>
	      <li><p><a href="/store/">Store</a></p></li>
	      <li><p><a href="/television/">Television</a></p></li>
	      <li><p><a href="/background/">Kathy's Background</a></p></li>
	      <li><p><a href="/speaking/">Speaking</a></p></li>
	      <li><p><a href="/health_tips/">Health Tips</a></p></li>
	      <li><p><a href="/consult/">Personal Health Coaching</a></p></li>
	      <li><p><a href="/recommended_resources/">Recommended Resources</a></p></li>
	      <li><p><a href="/media/">In the Media</a></p></li>
	      <li><p><a href="/press/">Press Room</a></p></li>
	    </ul>
	  </div>

	  <div id="email">
            {% display_email_form %}
	  </div>
	    <script>
	      (function() {
	      var cx = '002447200420352053909:qsvf3_f-yeo';
	      var gcse = document.createElement('script');
	      gcse.type = 'text/javascript';
	      gcse.async = true;
	      gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
              '//www.google.com/cse/cse.js?cx=' + cx;
	      var s = document.getElementsByTagName('script')[0];
	      s.parentNode.insertBefore(gcse, s);
	      })();
	    </script>
	    <gcse:search></gcse:search>
	<!--<div class="announcement">
<a href="https://courses.allenvaysberg.com/stress-reduction/#a_aid=jv123&amp;a_bid=47cec513" target="_blank"><img src="http://courses.allenvaysberg.com/affiliate/accounts/default1/banners/47cec513.jpg" alt="" title="" width="300" height="600" /></a><img style="border:0" src="http://courses.allenvaysberg.com/affiliate/scripts/imp.php?a_aid=jv123&amp;a_bid=47cec513" width="1" height="1" alt="" />
</div>-->
        {% display_events %}
	<div class="announcement">
          {% display_video %}
	  <a href="http://www.youtube.com/drkathygruver" rel="external"><p style="color: black; text-decoration:underline; font-size: 12px;">Visit Kathy's Youtube channel for more health tips</p></a>

	</div>
	<br />
        <div class="announcement">
          <p>Read more from Kathy soon in:</p>
	  <a href="http://helpdeskja.com/magazine/?ap_id=kathygruver" target="_blank" ><img src="/site_media/images/la_font_cover_kathy.jpg" alt="Read more from Kathy in LA Font Magazine" border="0" /></a>
	</div>
	{% block banner %}

	{% endblock %}
	</div>


	<div id="header" class="grid_10 omega">
	    {% block header %}<h1>The Alternative Medicine Cabinet</h1>{% endblock %}
	    </div>
	<div id="content" class="grid_10 omega">
	    {% block content %}
	    {% endblock %}
	</div>

	<div class="clear">&nbsp;</div>
	<div id="footer" class="grid_14">
	  <hr />
	  <span>&copy; 2015 Kathy Gruver. All Rights Reserved.</span>
	  <span>805-680-1984</span>
          <span><a href="mailto:drkathygruver@gmail.com">drkathygruver@gmail.com</a></span>
	  <span><a href="/disclaimer/">Disclaimer</a></span>
	  <div class="clear"></div>
	  <br />
	  <div style="float:right">
	  <span>
	    <a href="http://www.twitter.com/klgruver" target="_blank"><img src="/site_media/images/twitter_icon.png" alt="Follow Kathy on Twitter"/></a>
	  </span>
	  <span>
	    <a href="http://www.facebook.com/drkathygruver4health" target="_blank"><img src="/site_media/images/facebook_icon.png" alt="Find Kathy on Facebook"/></a>
	  </span>
	  <span>
	    <a href="http://www.linkedin.com/in/kathygruver" target="_blank"><img src="/site_media/images/linkedin_icon.png" alt="Find Kathy on LinkedIn"/></a>
	  </span>
	  <span>
	    <a href="http://www.youtube.com/drkathygruver" target="_blank"><img src="/site_media/images/youtube_icon.jpg" alt="Watch Kathy's Youtube Channel"/></a>
	  </span>
	  <span>
	    <a href="http://www.drkathygruver.blogspot.com/" target="_blank"><img src="/site_media/images/blogger_icon.jpg" alt="Read Kathy's Blog"/></a>
	  </span>
	  <span>
	    <a href="http://drkathygruver.blogspot.com/feeds/posts/default" target="_blank"><img src="/site_media/images/rss_icon.png" alt="Subscribe to Kathy's Blog"/></a>
	  </span>
	  </div>
	  </div>
	<div class="clear"> </div>
      </div>
    </div>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-88241-12");
pageTracker._trackPageview();
} catch(err) {}</script>

  </body>
</html>
