<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>{% block title %}The Alternative Medicine Cabinet{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="google-site-verification" content="0zWozPclWQ95D9TrJIS5RSt-1cHiE2br_loxLvyTgpw" />
    <meta name="keywords" content="massage,therapy,therapeutic,deep tissue,trigger point,sports,corporate,reiki,ear coning,ear candling,health,birth assistant,naturopath,alternative medicine,CAM,complimentary alternative medicine,santa barbara,goleta,acupressure,pathology,nutrition,therapist,natural health,doula,pain relief,lectures,workshops,classes,integrated medicine,traditional naturopath,ND,herbs,homeopathics,bach flower essences,consulting"/>
    <meta name="description" content="Learn about Natural Health from Kathy Gruver, author of The Alternative Medicine Cabinet." />



    {% block css %}
  <link rel="stylesheet" type="text/css" href="/site_media/stylesheets/960.css" />
  <link rel="stylesheet" type="text/css" href="/site_media/stylesheets/text.css" />
  <link rel="stylesheet" type="text/css" href="/site_media/stylesheets/reset.css" />
  <link rel="stylesheet" type="text/css" href="/site_media/stylesheets/base.css" />
    <script type="text/javascript" src="/site_media/scripts/jquery-1.2.3.min.js"></script>
    <script type="text/javascript" src="/site_media/scripts/base.js"></script>
    <link rel="icon" type="image/gif" href="/site_media/images/favicon.gif" />
    {% endblock %}
    {% block section_css %}{% endblock %}
    {% block page_css %}{% endblock %}
  </head>
  <body>
    <div class="container_16">
      <div id="masthead" class="grid_16">
	<img src="/site_media/images/masthead.gif" alt="Healing: Body, Mind, Spirit" />
      </div>
      <div id="page">
	<div id="navigation" class="grid_6">
	  <ul>
	    <li><p><a href="/">Home</a></p></li>
	    <li><p><a href="/background/">Kathy's Background</a></p></li>
	    <li><p><a href="/speaking/">Speaking</a></p></li>
	    <li><p><a href="/upcoming_events/">Upcoming Events</a></p></li>
	    <li><p><a href="/health_tips/">Health Tips</a></p></li>
	    <li><p><a href="/consult/">Consults with Kathy</a></p></li>
	    <li><p><a href="/recommended_resources/">Recommended Resources</a></p></li>
	    <li><p><a href="/media/">Media</a></p></li>
	    <li><p><a href="/books/">Books</a></p></li>
	    <li><p><a href="/dvds/">DVDs</a></p></li>
	  </ul>
	</div>

	<div id="header" class="grid_10 omega">
	  <h1>The Alternative Medicine Cabinet</h1>
	</div>
	<div id="content" class="grid_10 omega">
	  {% block content %}
	  {% endblock %}
	</div>
	<div id="footer" class="grid_16">
	  <span>&copy; 2010 Kathy Gruver. All Rights Reserved.</span>
	  <span>805-680-1984</span>
	  <span><a href="mailto:healingcirclemassage@hotmail.com">healingcirclemassage@hotmail.com</a></span>
	</div>
      </div>
    </div>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-88241-12");
pageTracker._trackPageview();
} catch(err) {}</script>

  </body>
</html>
