{% extends "base.html" %}
{% block content %}
<div id="book_header">
  <div class="grid_5 alpha omega">
    <img src="/site_media/images/Front_Cover_final_sm.jpg" alt="Book Cover - Front" />
  </div>
  <div class="grid_5 alpha omega">
    <img src="/site_media/images/Back_Cover_final_sm.jpg" alt="Book Cover - Back" />
  </div>
</div>

<div class="grid_10 alpha" id="book_order">
  <h2>$12.00 + Tax</h2>
<p>To order by phone, please call (805) 680-1984.</p>
<p>Credit cards accepted over the phone.</p>
  <div id="buy_book_button">
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
      <input type="hidden" name="cmd" value="_xclick">
      <input type="hidden" name="business" value="healingcirclemassage@hotmail.com">
      <input type="hidden" name="lc" value="US">
      <input type="hidden" name="item_name" value="The Alternatve Medicine Cabinet">
      <input type="hidden" name="amount" value="12.00">
      <input type="hidden" name="currency_code" value="USD">
      <input type="hidden" name="button_subtype" value="products">
      <input type="hidden" name="shipping" value="0.00">
      <input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynowCC_LG.gif:NonHostedGuest">
      <input type="image" src="https://www.paypal.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
      <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>
  </div>
&nbsp;
<h3>Continue your learning by adding the DVD, Therapeutic Massage at Home, for only $25.00.  Click here to buy both.</h3>
<h2>25.00 + Tax</h2>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_xclick">
<input type="hidden" name="business" value="healingcirclemassage@hotmail.com">
<input type="hidden" name="lc" value="US">
<input type="hidden" name="item_name" value="Kathy Gruver Book and DVD Bundle">
<input type="hidden" name="amount" value="25.00">
<input type="hidden" name="currency_code" value="USD">
<input type="hidden" name="button_subtype" value="services">
<input type="hidden" name="no_note" value="0">
<input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynowCC_LG.gif:NonHostedGuest">
<input type="image" src="https://www.paypal.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
&nbsp;
</div>

<h3>This book contains information on:</h3>

<div class="grid_10 alpha">
<ul class="grid_5 alpha book_contents">
<li>Benefits of Massage</li>
<li>Types of Massage</li>
<li>Communication with a Practitioner</li>
<li>Homeopathics</li>
<li>Reiki</li>
<li>Nutrition; Kathy’s Top Ten Picks</li>
<li>Herbal Overview</li>
<li>Bach Flower Essences</li>
<li>Healing and Belief</li>
<li>Healthy Pregnancy</li>
<li>Homeopathy for Children</li>
<li>Even Wonder Woman needs a day off; Dealing with Stress</li>
<li>Home Care</li>
<li>Ten Health Tips</li>
<li>Intro to Corporate Health</li>
<li>Energy Boosters</li>
</ul>
<ul class="grid_5 alpha omega book_contents">
<li>Obesity and Weight Loss</li>
<li>Back Pain</li>
<li>Sleep</li>
<li>Office Health; Avoiding Getting Sick</li>
<li>Depression and Anxiety</li>
<li>Be Your Own Advocate</li>
<li>Cancer</li>
<li>Natural Solutions for Acid Indigestion</li>
<li>Herbal Formula for High Blood Pressure</li>
<li>Environmental Pollution</li>
<li>A Whole Body Herbal Tonic</li>
<li>How to Stay Sick List: The Keys to Unhealthy Living</li>
<li>How to Be Healthy List: A Better Choice</li>
<li>Healing. Physiology or Attitude?</li>
<li>Today’s Brilliance</li>
</ul>
</div>
<div class="clear">&nbsp;</div>

{% endblock %}
