{% extends "base.html" %}

{% block content %}
<br />
<h2>Disclaimer</h2>
<br />
<p>Dr. Gruver has made every effort to accurately describe and represent her programs and suggestions. Individual success will depend on a variety of factors.  All material on the website is provided for informational use only, and should not be regarded as medical advice or instruction.  Dr. Gruver is not an M.D.; she has a PhD in Natural health. Dr. Gruver advises readers to consult appropriate medical professionals on health matters.</p>
<br />
<p>All material on this site is copyrighted and may not be reused or reproduced without written consent from Dr. Gruver.</p>
<br />
{% endblock %}
