{% extends "base.html" %}

{% block header %}
<h1>Therapeutic Massage at Home DVD</h1>
{% endblock %}

{% block content %}
<div id="dvd_header" class="grid_4 prefix_2">
  <img src="/site_media/images/dvd_cover.jpg" alt=" " />
</div>
<div id="dvd_info" class="grid_9 alpha">
<h2>DVD Contents:</h2>
<ul class="dvd_content">
<li>Anatomy</li>
<li>Areas to Avoid</li>
<li>Hand Positions</li>
<li>Tools</li>
<li>Back with Audio Cues</li>
<li>Back with Visual Cues</li>
</ul>
<ul class="dvd_content">
<li>Neck</li>
<li>Special Features:</li>
<li>Massage Terminology</li>
<li>Massage Modalities</li>
<li>Using a Bed or the Floor</li>
<li>A Quiz to Test Your Knowledge</li>
</ul>

  <p>Made for the beginner, this DVD teaches safe and effective massage for home health.  Follow along with Kathy Gruver, a Certified Medical Massage Therapist, to learn a comprehensive back and neck massage in the comfort of your own home.</p>
<p>Already massage your loved ones? Hone your technique and protect your hands.</p>
<p>Always wanted to learn massage?</p>
<p>Either way, this DVD is for you!</p>
<br />
<h2 class="center">19.95 + Shipping, CA Tax</h2>
<form class="center" target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="NACG4P2EY5VEN">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
<p class="center">To order by phone, please call (805) 680-1984.<br/>Credit cards accepted over the phone.</p>
<br />
<p class="center">Continue your education by adding one of Kathy's great <a href="/books/">books</a>, <i>Body-Mind Therapies for the Bodyworker and other health practitioners</i> or <i>The Alternative Medicine Cabinet</i></p>

<div class="clear"> </div>
<div class="endsection"> </div>
<h2 class="center"><a href="http://www.bigblendmagazine.com/Body-Mind-Spirit/Therapeutic-Massage.htm" rel="external">Read the review from Big Blend Magazine</a></h2>
<br />
<h2 class="center"><a href="http://www.youtube.com/watch?v=yDVvctSDcPo" rel="external">Watch my commercial</a></h2>
<br />
<br />
<div class="clear"> </div>
<div class="endsection"> </div>
<h2>What people are saying about Therapeutic Massage at Home:</h2>

<ul class="testimonial_list">
  <li class="testimonial"><p>The instruction was easy to understand and detailed without being monotonous; diction was clear, distinct and expressive; music was original and soothing; and the organization was good, I particularly liked the 'with' and 'without' instruction sections. I can't wait to get home and try it. </p> <p>~ Steven B, ND</p></li>
  <li class="testimonial"><p>I LOVE this DVD!</p> <p>~ Marla, Life Coach</p></li>

</ul>
<div class="clear"> </div>
<div class="endsection"> </div>

</div>


{% endblock %}
