{% extends "base.html" %}

{% block header %}
<h1>Therapeutic Massage at Home DVD</h1>
{% endblock %}

{% block content %}
<div id="dvd_header" class="grid_4 prefix_2">
  <img src="/site_media/images/dvd_cover.jpg" alt=" " />
</div>
<div id="dvd_info" class="grid_9 alpha">
<h2>DVD Contents:</h2>
<ul class="dvd_content">
<li>Anatomy</li>
<li>Areas to Avoid</li>
<li>Hand Positions</li>
<li>Tools</li>
<li>Back with Audio Cues</li>
<li>Back with Visual Cues</li>
</ul>
<ul class="dvd_content">
<li>Neck</li>
<li>Special Features:</li>
<li>Massage Terminology</li>
<li>Massage Modalities</li>
<li>Using a Bed or the Floor</li>
<li>A Quiz to Test Your Knowledge</li>
</ul>

  <p>Made for the beginner, this DVD teaches safe and effective massage for home health.  Follow along with Kathy Gruver, a Certified Medical Massage Therapist, to learn a comprehensive back and neck massage in the comfort of your own home.</p>
<p>Already massage your loved ones? Hone your technique and protect your hands.</p>
<p>Always wanted to learn massage?</p>
<p>Either way, this DVD is for you!</p>
<div class="clear"> </div>
<div class="endsection"> </div>
	<h2>19.95 + Tax</h2>
  <p>To order by phone, please call (805) 680-1984.<br/>Credit cards accepted over the phone.</p>
<br />
<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_xclick">
<input type="hidden" name="business" value="healingcirclemassage@hotmail.com">
<input type="hidden" name="lc" value="US">
<input type="hidden" name="item_name" value="Therapeutic Massage at Home DVD">
<input type="hidden" name="amount" value="19.95">
<input type="hidden" name="currency_code" value="USD">
<input type="hidden" name="button_subtype" value="services">
<input type="hidden" name="no_note" value="0">
<input type="hidden" name="shipping" value="4.00">
<input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynowCC_LG.gif:NonHostedGuest">
<input type="image" src="https://www.paypal.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
<br />
<p style="float: left; width:70%; margin-bottom:10px;">Continue your learning by adding the book, The Alternative Medicine Cabinet, for only $25.00.  Click here to buy both.</p>
<img src="/site_media/images/book_cover_t.jpg" alt="The Alternative Medicine Cabinet" style="float:right;" />
<h2>25.00 + Tax</h2>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_xclick">
<input type="hidden" name="business" value="healingcirclemassage@hotmail.com">
<input type="hidden" name="lc" value="US">
<input type="hidden" name="item_name" value="Kathy Gruver Book and DVD Bundle">
<input type="hidden" name="amount" value="25.00">
<input type="hidden" name="currency_code" value="USD">
<input type="hidden" name="button_subtype" value="services">
<input type="hidden" name="no_note" value="0">
<input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynowCC_LG.gif:NonHostedGuest">
<input type="image" src="https://www.paypal.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
<div class="clear"> </div>
<div class="endsection"> </div>
<h2><a href="http://www.bigblendmagazine.com/Body-Mind-Spirit/Therapeutic-Massage.htm" rel="external">Read the review from Big Blend Magazine</a></h2>
<br />
<h2><a href="http://www.youtube.com/watch?v=yDVvctSDcPo" rel="external">Watch my commercial</a></h2>
<br />
<div class="endsection"> </div>
<br />
<h2>What people are saying about Therapeutic Massage at Home:</h2>

<ul class="testimonial_list">
  <li class="testimonial"><p>The instruction was easy to understand and detailed without being monotonous; diction was clear, distinct and expressive; music was original and soothing; and the organization was good, I particularly liked the 'with' and 'without' instruction sections. I can't wait to get home and try it. </p> <p>~ Steven B, ND</p></li>
  <li class="testimonial"><p>I LOVE this DVD!</p> <p>~ Marla, Life Coach</p></li>

</ul>
<div class="clear"> </div>
<div class="endsection"> </div>

</div>


{% endblock %}
