{% extends "base.html" %}

{% block video %}
<div class="video">
<h2>Video Testimonials</h2>
<p>Dr. Pesek endorsement of Kathy</p>
<object width="480" height="385">
<param name="movie" value="http://www.youtube.com/v/{{ object.youtube_id }}?fs=1&amp;hl=en_US"></param>
<param name="allowFullScreen" value="true"></param>
<param name="allowscriptaccess" value="always"></param>
<embed src="http://www.youtube.com/v/neTpQWSaHTI?fs=1&amp;hl=en_US" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="288" height="231"></embed>
</object>
</div>
{% endblock %}

{% block content %}
<div>
<p>Just for visiting The Alternative Medicine Cabinet today, please enjoy this guide to mini meditations.</p>
<div class="center">
<button class="green_button" href="http://drkathygruver.libsyn.com/episode-1-introduction-to-a-mini-meditation" target="_blank">Claim Your Gift</button>
</div>
</div>
{% endblock %}
