{% extends "base.html" %}

{% block content %}

<h2>Health Tips from Kathy Gruver</h2>

<ul id="health_tips">

<li class="sponsored">
<h1>Natural Health Tip:</h1>
<p>Get your iron levels checked! <a class="sponsored" href="http://www.feosol.com" target="_blank">Iron</a> helps oxygenate every one of your blood cells. Without adequate iron, the blood cannot carry oxygen effectively, causing feelings of weakness, fatigue and irritability; plus paleness, headaches, and problems concentrating or focusing. If you aren't getting enough iron from your diet, consider adding an iron supplement to your vitamin routine.</p>
</li>
  
  {% for tip in health_tips %}

  <li>
    
    <h4>{{ tip.title }}</h4>
    
    <p>{{ tip.tip }}</p>
  
  </li>

  {% endfor %}
  
</ul>
<div class="endsection"> </div>

{% endblock %}
