{% extends "base.html" %}

{% block content %}
<div id="home_page">
<div class="grid_5 alpha omega">
<p>Thanks for peering into The Alternative Medicine Cabinet. Here you find information on Dr. Kathy Gruver, PhD, as a practitioner and speaker and her books and DVDs. I encourage you to check back frequently to learn more about natural ways to take care of your health and explore about other helpful resources like websites, books, DVDs and products. Thanks so much for visiting and have a healthy day.</p>

<p>To contact Kathy directly email <a href="mailto:healingcirclemassage@hotmail.com">healingcirclemassage@hotmail.com</a> or call 805-680-1984</p>

<p>Massage information and gift certificates are available at <a href="http://www.healingcirclemassage.com" rel="external">www.healingcirclemassage.com</a></p>
</div>
<div class="grid_5 alpha omega">
<img src="/site_media/images/kathy_headshot.jpg" alt="Kathy Gruver" />
</div>
<div class="clear"> </div>
<div class="endsection"> </div>
<a href="http://itravelconsultants.com/seminar-at-sea4/praise-works-journey-to-wellness-alaska-cruise.html" target="_blank"><h1>Come Hear Dr. Gruver Speak</h1>
<img src="/site_media/images/ssbanner01.jpg" alt=" " width="600" /></a>
<div class="endsection"></div>
<h1 class="header_text">Spirit of Entrepreneurship Award</h1>
<p style="float: left;width: 600px; margin-top: 30px; margin-left: 5px; text-align: justify;">Kathy was honored this year with the Spirit of Entrepreneurship Award in health and fitness by the Santa Barbara Chapter of the National Association of Women Business Owners. It was a true joy to be recognized by this organization and the community for all my hard work in building up my business and helping people heal.</p>
<img src="/site_media/images/2012awardimage-sm.jpg" style="width:250px; float: left;" alt=" " />
<img src="/site_media/images/awardimage.JPG" style="width: 250px; float: right;" alt=" " />
<div class="clear"> </div>
<div class="endsection"> </div>
</div>



{% endblock %}
