{% extends "base.html" %}

{% block content %}
<div id="home_page">
<div class="grid_5 alpha omega">
<p>Thanks for peering into The Alternative Medicine Cabinet. Here you find information on Dr. Kathy Gruver, PhD, as a practitioner and speaker and her books and DVDs. I encourage you to check back frequently to learn more about natural ways to take care of your health and explore about other helpful resources like websites, books, DVDs and products. Thanks so much for visiting and have a healthy day.</p>

<p>To contact Kathy directly email <a href="mailto:drkathygruver@gmail.com">drkathygruver@gmail.com</a> or call 805-680-1984</p>
<p>Massage information and gift certificates are available at <a href="http://www.healingcirclemassage.com" rel="external">www.healingcirclemassage.com</a></p>
</div>
<div class="grid_5 alpha omega">
<img src="/site_media/images/headshot.jpg" alt="Kathy Gruver" width="250" style="margin-left: 20px; width: 250px;" />
</div>
<div class="clear"></div>
<div class="endsection"></div>
<h1 class="header_text">Global Ebook Awards</h1>
  <img style="float:left;" width="175" src="/site_media/images/global_ebook_award.png" alt="Global Ebook Awards" />
  <p style="padding-top:50px; margin-left:185px;">Dr. Gruver is proud to announce that Conquer your Stress is a Global Ebook Awards Gold Medal Winner.</p>
<div class="clear"> </div>
<div class="endsection"> </div>
<div class="grid_10">
<h1>Dr. Gruver featured in Times Square, a childhood dream come true.</h1>
<img src="/site_media/images/times_square.jpg" alt="Dr. Gruver featuredin Times Square" width="570" style="width: 570px;" />
</div>
<div class="clear"> </div>
<div class="endsection"> </div>
<div class="grid_10">
<h1>Kathy's Award Winning Books</h1>
  <a href="/store/#conquer-stress"><img src="/site_media/images/ConquerStress.jpg" class="home_page_image" alt="Book Cover - Front" height="250" /></a>
  <a href="/store/#mind-body"><img src="/site_media/images/mbt_front.jpg" alt="Book Cover - Front" height="250" class="home_page_image" /></a>
  <a href="/store/#alternative-medicine"><img src="/site_media/images/AMC_Front_Cover.JPG" alt="Book Cover - Front" height="250" class="home_page_image" /></a>
<p><a href="/store">Browse Kathy's selection of award-winning books on natural healing</a></p>
</div>
<div class="clear"> </div>
<div class="endsection"> </div>
<div class="grid_10">
<h1>Kathy in television, radio, and print:</h1>
<a href="/site_media/pdfs/tv_radio_media.pdf"><img src="/site_media/images/tv_radio_media.jpg" alt="Kathy on Television and Radio" height="360"/></a>
<a href="/site_media/pdfs/print_media.pdf"><img src="/site_media/images/print_media.jpg" alt="Kathy in print media" height="360"/></a>
<div class="clear"></div>
<div class="endsection"></div>
<h1 class="header_text">National Indie Excellence Awards Winner</h1>
  <img style="float:left;" width="175" src="/site_media/images/NIEAseal-2014-Winner.png" alt="National Indie Excellence Awards Winner" />
  <p style="padding-top:50px; margin-left:185px;">Dr. Gruver is proud to announce that Conquer your Stress was selected for a National Indie Excellence Award.</p>
<div class="clear"></div>
<div class="endsection"></div>
<h1 class="header_text">USA Best Book Awards Finalist</h1>
  <a href="http://usabooknews.com" target="_blank" >
    <img style="float:left;" width="175" src="/site_media/images/390_Finalistonbook.jpg" alt="USA Best Books Finalist!" />
  </a>
<p style="padding-top:50px; margin-left:185px;">Dr. Gruver is proud to announce that Conquer your Stress was selected as a finalist for the USA Best Book Awards.</p>
<div class="clear"></div>
<div class="endsection"></div>
<h1 class="header_text">Beverly Hills Book Awards Winner</h1>
<a href="http://beverlyhillsbookawards.com/" target="_blank"><img src="http://www.beverlyhillsbookawards.com/img/bhba-winner-sticker.png" width="174" height="175" style="float:left;" border="0"></a>
<p style="padding-top:60px;">Kathy is proud to announce that her book, <i>The Alternative Medicine Cabinet</i>, has won the Beverly Hills Book Awards in the alternative medicine category.
<div class="clear"></div>
<div class="endsection"></div>
<h1 class="header_text">Spirit of Entrepreneurship Award</h1>
<p style="float: left;width: 600px; margin-top: 30px; margin-left: 5px; text-align: justify;">Kathy was honored this year with the Spirit of Entrepreneurship Award in health and fitness by the Santa Barbara Chapter of the National Association of Women Business Owners. It was a true joy to be recognized by this organization and the community for all my hard work in building up my business and helping people heal.</p>
<img src="/site_media/images/2012awardimage-sm.jpg" style="width:250px; float: left;" alt=" " />
<img src="/site_media/images/awardimage.JPG" style="width: 250px; float: right;" alt=" " />
<div class="clear"> </div>
<div class="endsection"> </div>
</div>
</div>


{% endblock %}
