{% extends "base.html" %}

{% block content %}
<div id="home_page">
<div class="grid_5 alpha omega">
<p>Thanks for peering into The Alternative Medicine Cabinet. Here you find information on Dr. Kathy Gruver, PhD, as a practitioner and speaker and her books and DVDs. I encourage you to check back frequently to learn more about natural ways to take care of your health and explore about other helpful resources like websites, books, DVDs and products. Thanks so much for visiting and have a healthy day.</p>

<p>To contact Kathy directly email <a href="mailto:healingcirclemassage@hotmail.com">healingcirclemassage@hotmail.com</a> or call 805-680-1984</p>

<p>Massage information and gift certificates are available at <a href="http://www.healingcirclemassage.com" rel="external">www.healingcirclemassage.com</a></p>
</div>
<div class="grid_5 alpha omega">
<img src="/site_media/images/kathy_headshot.jpg" alt="Kathy Gruver" />
</div>

</div>

{% endblock %}
