{% extends "base.html" %}

{% block content %}

<h2>Kathy Gruver in the Media</h2>
<div id="social_network_buttons" class="grid_10">
<span>
<a href="http://www.twitter.com/klgruver" rel="external"><img src="http://twitter-badges.s3.amazonaws.com/follow_bird-a.png" alt="Follow Kathy on Twitter"/></a>
</span>
<span>
<a href="http://www.facebook.com/pages/Santa-Barbara-CA/Kathy-Gruver-speaker/197437282441" rel="external"><img src="/site_media/images/facebook.jpg" alt="Find Kathy on Facebook"/></a>
</span>
<span>
<a href="http://www.linkedin.com/in/kathygruver" rel="external"><img src="/site_media/images/linkedin.jpg" alt="Find Kathy on LinkedIn"/></a>
</span>
<span>
<a href="http://www.youtube.com/drkathygruver" rel="external"><img src="/site_media/images/youtube_button.jpg" alt="Watch Kathy's Youtube Channel"/></a>
</span>
</div>
<div class="grid_6 alpha">


<ul class="content_list">
<a href="http://www.pr.com/press-release/289305">Kathy Gruver, Owner of Healing Circle, Author of The Alternative Medicine Cabinet Shows People How to Take Charge of Their Health Naturally to Lower Health Costs</a>
  
  {% for object in media_list %}

  <li>
    
    {% if object.link %}
    <a href="{{ object.link }}" rel="external">
      {% endif %}
      <h4>{{ object.title }}</h4>
      <p>{{ object.description }}</p>
      {% if object.link %}
    </a>
    {% endif %}
  
  </li>

  {% endfor %}
  
</ul>
<h3>Reviews of The Alternative Medicine Cabinet</h3>
<ul class="content_list">
  {% for object in review_list %}
  <li class="reviews"><p>{{object.description}}</p> <p>~ {{object.source}}</p></li>
  {% endfor %}
</ul>

</div>
<div class="grid_4 omega">

</div>
<div id="photo_downloads">
<p>Download Kathy's Picture and The Alternative Medicine Cabinet book cover here:</p>
<a href="/site_media/images/kathy_gruver_headshot.jpg.zip"><img src="/site_media/images/headshot_1.jpg" alt="Download Kathy's Picture" /></a>
<a href="/site_media/images/alt_med_cabinet_cover.JPG.zip"><img src="/site_media/images/Front_Cover_final_sm.jpg" alt="Download The Alternative Medicine Cabinet Cover" /></a>
</div>
<div id="contact">
<p>To contact for an interview or engagement:</p>  
<p>P: 805-680-1984</p>
<a href="mailto:healingcirclemassage@hotmail.com"><p>E: healingcirclemassage@hotmail.com</p></a>
</div>
</div>
{% endblock %}
