{% extends "base.html" %}

{% block banner %}
<br />
<div class="center">
<a href="http://www.praiseworks.biz"><img src="http://www.praiseworks.biz/images/200x175.jpg" alt="Praiseworks - Home of the Wellness Woman 40 and Beyond Magazine" target="_blank" /></a>
</div>
{% endblock %}

{% block content %}

<h2>Kathy Gruver in the Media</h2>
<div id="social_network_buttons" class="grid_10">
<span>
<a href="http://www.twitter.com/klgruver" rel="external"><img src="http://twitter-badges.s3.amazonaws.com/follow_bird-a.png" alt="Follow Kathy on Twitter"/></a>
</span>
<span>
<a href="http://www.facebook.com/pages/Santa-Barbara-CA/Kathy-Gruver-speaker/197437282441" rel="external"><img src="/site_media/images/facebook.jpg" alt="Find Kathy on Facebook"/></a>
</span>
<span>
<a href="http://www.linkedin.com/in/kathygruver" rel="external"><img src="/site_media/images/linkedin.jpg" alt="Find Kathy on LinkedIn"/></a>
</span>
<span>
<a href="http://www.youtube.com/drkathygruver" rel="external"><img src="/site_media/images/youtube_button.jpg" alt="Watch Kathy's Youtube Channel"/></a>
</span>
</div>
<div class="grid_6 alpha">
<br />
<h2>Click the links below to experience Dr. Gruver on the radio and TV and in print.</h2>

<ul class="content_list">
<li><a href="http://www.pr.com/press-release/289305">Kathy Gruver, Owner of Healing Circle, Author of The Alternative Medicine Cabinet Shows People How to Take Charge of Their Health Naturally to Lower Health Costs</a></li>
  
  {% for object in media_list %}

  <li class="category_{{object.category}}">
    
    {% if object.link %}
    <a target="_blank" href="{{ object.link }}">
      {% endif %}
      <h4>{{ object.title }}</h4>
      {% if object.link %}
    </a>
    {% endif %}
      <p>{{ object.description }}</p>
  
  </li>

  {% endfor %}
  
</ul>
<div class="endsection"> </div>
<h3>Reviews of The Alternative Medicine Cabinet</h3>
<ul class="content_list">
  {% for object in review_list %}
  <li class="reviews"><p>{{object.description}}</p> <p>~ {{object.source}}</p></li>
  {% endfor %}
</ul>
<div class="endsection"> </div>
</div>
<div class="grid_4 omega">

<div id="photo_downloads">
<p>Kathy in television, radio, and print:</p>
<a href="/site_media/pdfs/tv_radio_media.pdf"><img src="/site_media/images/tv_radio_media.jpg" alt="Kathy on Television and Radio" height="180"/></a>
<a href="/site_media/pdfs/print_media.pdf"><img src="/site_media/images/print_media.jpg" alt="Kathy in print media" height="180"/></a>
<p>Download Kathy's picture and book covers here:</p>
<a href="/site_media/images/kathy_gruver_headshot.jpg.zip"><img src="/site_media/images/headshot.jpg" height="180" alt="Download Kathy's Picture" /></a>
<a href="/site_media/pdfs/ConquerStress_cover_Final.pdf.zip"><img src="/site_media/images/ConquerStress.jpg" height="180" alt="Download Conquer Your Stress Book Cover"></a>
<a href="/site_media/images/mbt_front.jpg.zip"><img src="/site_media/images/mbt_front.jpg" height="200" alt="Download Mind Body Therapies Cover" /></a>
<a href="/site_media/images/alt_med_cabinet_cover.JPG.zip"><img src="/site_media/images/AMC_Front_Cover.JPG" height="200" alt="Download The Alternative Medicine Cabinet Cover" /></a>
</div>
<div id="contact">
<p id="one_sheet"><a href="/site_media/pdfs/speaker_one_sheet.pdf">Speaker One Sheet</a></p>
<p>To contact for an interview or engagement:</p>  
<p>P: 805-680-1984</p>
<a href="mailto:drkathygruver@gmail.com"><p>E: drkathygruver@gmail.com</p></a>
<p>Media booking contact:</p>
<p>Flo Selfman</p>
<p>323-653-4555</p>
</div>
</div>
{% endblock %}
