{% extends "base.html" %}

{% block content %}
<div id="photo_downloads">
<p>Kathy in television, radio, and print:</p>
<a href="/site_media/pdfs/tv_radio_media.pdf"><img src="/site_media/images/tv_radio_media.jpg" alt="Kathy on Television and Radio" height="200"/></a>
<a href="/site_media/pdfs/print_media.pdf"><img src="/site_media/images/print_media.jpg" alt="Kathy in print media" height="200"/></a>
<p>Download Kathy's picture and book covers here:</p>
<a href="/site_media/images/kathy_gruver_headshot.jpg.zip"><img src="/site_media/images/headshot.jpg" height="200" alt="Download Kathy's Picture" /></a>
<a href="/site_media/pdfs/ConquerStress_cover_Final.pdf.zip"><img src="/site_media/images/ConquerStress.jpg" height="200" alt="Download Conquer Your Stress Book Cover"></a>
<br />
<a href="/site_media/images/mbt_front.jpg.zip"><img src="/site_media/images/mbt_front.jpg" height="200" alt="Download Mind Body Therapies Cover" /></a>
<a href="/site_media/images/alt_med_cabinet_cover.JPG.zip"><img src="/site_media/images/AMC_Front_Cover.JPG" height="200" alt="Download The Alternative Medicine Cabinet Cover" /></a>
</div>
<div id="contact">
<p id="one_sheet"><a href="/site_media/pdfs/speaker_one_sheet.pdf">Speaker One Sheet</a></p>
<p>To contact for an interview or engagement:</p>  
<p>P: 805-680-1984</p>
<a href="mailto:drkathygruver@gmail.com"><p>E: drkathygruver@gmail.com</p></a>
</div>

{% endblock %}
