{% extends "base.html" %}

{% block content %}
<div id="speaking">
<p>Kathy Gruver, author of The Alternative Medicine Cabinet, is a dynamic and entertaining speaker. Her lectures enlighten, educate and inspire.  A leading authority in natural health and wellness, Kathy has two decades of hands on experience and a flair for communicating in a fun and conversational way. As a former actor she incorporates that creativity and humor into each of her presentations.</p>

<img src="/site_media/images/nawbo5_md.jpg" alt="Kathy Gruver Speaking" />

<p>Kathy has earned her Doctorate as a Traditional Naturopath, her Masters in Natural Health and is pursuing her PhD. She graduated Cum Laude with a BFA in theatre from Point Park University in Pittsburgh and was a working actor in Los Angeles for many years. She serves on the faculty of SBBCollege where she teaches massage, nutrition and pathology. She has lectured for both the public and universities. Kathy's first book is currently available and she has a Body/Mind/Spirit Workbook currently available. She also produced, directed and hosted an instructional massage DVD, Therapeutic Massage at Home; Learn to Rub People the RIGHT Way! which is available <a href="http://www.healingcirclemassage.com/instructional_dvd/" rel="external">on her website</a> and Amazon.com</p>


<p>Kathy has worked with thousands of clients as young as 6 and as old as 103. She has helped people heal, not only on physical level, but emotionally and spiritually as well. Assisting with births, end of life transitions, divorces, losses and celebrations has rounded out her experience and made her a diverse professional that can teach about any healing situation.</p>

<img src="/site_media/images/nawbo6_md.jpg" alt="Kathy Gruver Speaking" />

<p>Gruver has been featured as an expert is publications such as Massage Magazine, SouthWest Blend, Discover, First for Women, SB Fitness, The Holistic Option, Bottled Water Web, DermaScope Magazine, and Pacific Coast Business Times. She has written over three dozen health and wellness articles. She has appeared as a guest on over 25 radio shows covering topics such as back pain, mind/body medicine, healthy pregnancy, homeopathics, nutrition, herbs, patient advocacy and massage for wellness.</p>

<p>Kathy serves on the advisory committee for The Holistic Option, a website resource for all your natural health and wellness needs. She was their featured expert on a podcast on the Emotional Components of Back Pain. And her business Healing Circle Massage was featured as a Best Practice by Massage Magazine two years in a row. And she was just selected for Cambridge Who's Who.</p>

<img src="/site_media/images/nawbo3_md.jpg" alt="Kathy Gruver Speaking" />

<h4>Speaking Topics:</h4>
<ul>
<li>Natural Solutions for Depression</li>
<li>Wellness for the Working Woman</li>
<li>Corporate Health and Wellness</li>
<li>Change your Mind, Change your Body</li>
<li>Self-talk: Talk Yourself Well</li>
<li>Nutrition for Health</li>
<li>Staying Sick; How to Guarantee You’ll be Sick and Unhappy the Rest of your Miserable Life</li>
<li>Ten things to add and subtract from your life for optimum health</li>
<li>Marketing and Business Tips for Massage and Natural Health Practitioners</li>
</ul>

<p>(Most topics related to natural health and mind/body medicine)</p>


<p>Please contact Kathy to view lecture footage. 805-680-1984</p>

</div>

{% endblock %}
