{% extends "base.html" %}

{% block video %}
<div class="video">
<h2>Video Testimonials</h2>
<p>Dr. Pesek endorsement of Kathy</p>
<object width="480" height="385">
<param name="movie" value="http://www.youtube.com/v/{{ object.youtube_id }}?fs=1&amp;hl=en_US"></param>
<param name="allowFullScreen" value="true"></param>
<param name="allowscriptaccess" value="always"></param>
<embed src="http://www.youtube.com/v/neTpQWSaHTI?fs=1&amp;hl=en_US" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="288" height="231"></embed>
</object>
</div>
{% endblock %}

{% block content %}
<div id="speaking">
<p>Kathy Gruver, author of The Alternative Medicine Cabinet, is a dynamic and entertaining speaker. Her lectures enlighten, educate and inspire.  A leading authority in natural health and wellness, Kathy has two decades of hands on experience and a flair for communicating in a fun and conversational way. As a former actor she incorporates that creativity and humor into each of her presentations.</p>

<img src="/site_media/images/nawbo5_md.jpg" alt="Kathy Gruver Speaking" />

<p>Kathy has earned her Doctorate as a Traditional Naturopath and PhD in Natural Health. She has pursued further education at the famed Benson-Henry Institute for Mind-Body Medicne at Harvard and the NIH. She graduated Cum Laude with a BFA in theatre from Point Park University in Pittsburgh and was a working actor in Los Angeles for many years. Dr. Gruver has done over 40 lectures nationwide and appeared this year on Lifetime Television. Kathy's first book, The Alternative Medicine Cabinet is currently available and she is working on her second book on Mind/Body Medicine. She also produced, directed and hosted an instructional massage DVD, Therapeutic Massage at Home; Learn to Rub People the RIGHT Way! which is available <a href="http://www.healingcirclemassage.com/instructional_dvd/" rel="external">on her website</a> and Amazon.com</p>


<p>Kathy has worked with thousands of clients as young as 6 and as old as 105. She has helped people heal, not only on physical level, but emotionally and spiritually as well. Assisting with births, end of life transitions, divorces, losses and celebrations has rounded out her experience and made her a diverse professional that can teach about any healing situation.</p>

<img src="/site_media/images/nawbo6_md.jpg" alt="Kathy Gruver Speaking" />

<p>Gruver has been featured as an expert is publications such as Massage Magazine, Massage and Bodyworks, SouthWest Blend, Discover, First for Women, SB Fitness, The Holistic Option, Bottled Water Web, DermaScope Magazine, and Pacific Coast Business Times. She has written over three dozen health and wellness articles and has appeared as a guest on over 55 radio shows covering topics such as back pain, mind/body medicine, healthy pregnancy, homeopathics, nutrition, herbs, patient advocacy and massage for wellness.</p>

<p>Kathy serves on the advisory committee for The Holistic Option, a website resource for all your natural health and wellness needs. She was their featured expert on a podcast on the Emotional Components of Back Pain. And her business Healing Circle Massage was featured as a Best Practice by Massage Magazine two years in a row. And she was just selected for Cambridge Who's Who.</p>

<img src="/site_media/images/nawbo3_md.jpg" alt="Kathy Gruver Speaking" />

<h4>Speaking Topics:</h4>
<ul>
<li>Natural Solutions for Depression</li>
<li>Wellness for the Working Woman</li>
<li>Corporate Health and Wellness</li>
<li>Change your Mind, Change your Body</li>
<li>Self-talk: Talk Yourself Well</li>
<li>Nutrition for Health</li>
<li>Staying Sick; How to Guarantee You’ll be Sick and Unhappy the Rest of your Miserable Life</li>
<li>Ten things to add and subtract from your life for optimum health</li>
<li>Marketing and Business Tips for Massage and Natural Health Practitioners</li>
</ul>

<p>(Most topics related to natural health and mind/body medicine)</p>

<p>Please contact Kathy to view lecture footage. 805-680-1984</p>

<p>For more information on booking Dr. Kathy Gruver contact:</p>
<p><a href="http://www.mvpseminars.com" target="_blank">MVP Seminars - Training & Speakers</a></p>
<p><a href="http://www.mvpseminars.com" target="_blank">http://www.mvpseminars.com</a></p>

<h4>Testimonials</h4>
<ul class="speaking_review">
  {% for object in reviews %}
  <li class="reviews"><p>{{object.description}}</p> <p>~ {{object.source}}</p></li>
  {% endfor %}
</ul>
</div>

{% endblock %}
