{% extends "base.html" %}

{% block page_css %}
<link rel="stylesheet" type="text/css" href="/site_media/stylesheets/global.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="/site_media/scripts/slides.min.jquery.js"></script>
<script>
  $(function(){
  $('#slides').slides({
  preload: true,
  preloadImage: 'img/loading.gif',
  play: 5000,
  pause: 2500,
  hoverPause: true,
  animationStart: function(current){
  $('.caption').animate({
  bottom:-35
  },100);
  if (window.console && console.log) {
  // example return of current slide number
  console.log('animationStart on slide: ', current);
  };
  },
  animationComplete: function(current){
  $('.caption').animate({
  bottom:0
  },200);
  if (window.console && console.log) {
  // example return of current slide number
  console.log('animationComplete on slide: ', current);
  };
  },
  slidesLoaded: function() {
  $('.caption').animate({
  bottom:0
  },200);
  }
  });
  });
  </script>



{% endblock %}


{% block video %}
<div class="video">
<h2>Video Testimonials</h2>
<p>Dr. Pesek endorsement of Kathy</p>
<object width="480" height="385">
<param name="movie" value="http://www.youtube.com/v/{{ object.youtube_id }}?fs=1&amp;hl=en_US"></param>
<param name="allowFullScreen" value="true"></param>
<param name="allowscriptaccess" value="always"></param>
<embed src="http://www.youtube.com/v/neTpQWSaHTI?fs=1&amp;hl=en_US" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="288" height="231"></embed>
</object>
</div>
{% endblock %}

{% block content %}
<img src="/site_media/images/OTVLogo2.jpg" alt="TV Logo" style="float: left;" />
<p style="margin:10px;">Coming soon, an entertaining, fast-paced overview of ancient and modern wellness tips by Kathy Gruver, PhD, a health educator based in Santa Barbara, California</p> 
<div class="clear"> </div>

<img src="/site_media/images/AMC_promo.jpg" alt=" " width="300" style="margin-top: 10px; float: right;" />
<p style="margin-top: 50px;">Dr. Kathy explores and demonstrates different healing modalities in each episode, from massage, reiki, reflexology, and acupuncture to vitamins and herbal remedies.</p>
<div class="clear"> </div>

<img src="/site_media/images/AMC_Front_Cover.JPG" alt="The Alternative Medicine Cabinet" width="150" style="float: left; margin-right: 10px;" />
<p style="margin-top: 50px;">The series is based on Dr. Kathy's award-winning first book, <i>The Alternative Medicine Cabinet</i></p>
<div class="clear"> </div>

<div class="endsection"> </div>

<div id="container">
  <div id="example">
    <div id="slides">
      <div class="slides_container">

	<div class="slide">
	  <img src="/site_media/images/slide1.JPG" width="500" alt="Slide 1" />
	  <div class="caption">
	    <p>Kathy demonstrates massage</p>
	  </div>
	</div>

	<div class="slide">
	  <img src="/site_media/images/slide2.JPG" width="500" alt="Slide 1" />
	  <div class="caption">
	    <p>Getting ready</p>
	  </div>
	</div>

	<div class="slide">
	  <img src="/site_media/images/slide3.jpg" width="500" alt="Slide 1" />
	  <div class="caption" style="bottom:0">
	    <p>Dr. Craviotto talks about chiropractic</p>
	  </div>
	</div>

	<div class="slide">
	  <img src="/site_media/images/slide4.jpg" width="500" alt="Slide 1" />
	  <div class="caption">
	    <p>Isaac Osborne speaks about chronic pain and body alignment</p>
	  </div>
	</div>

	<div class="slide">
	  <img src="/site_media/images/slide5.jpg" width="500" alt="Slide 1" />
	  <div class="caption">
	    <p>Linda Croyle and BEST</p>
	  </div>
	</div>

	<div class="slide">
	  <img src="/site_media/images/slide6.jpg" width="500" alt="Slide 1" />
	  <div class="caption">
	    <p>Dance as Fitness with Tamarr Paul</p>
	  </div>
	</div>

	<div class="slide">
	  <img src="/site_media/images/slide7.jpg" width="500" alt="Slide 1" />
	  <div class="caption">
	    <p>Your host, Kathy Gruver</p>
	  </div>
	</div>

	<div class="slide">
	  <img src="/site_media/images/slide8.JPG" width="500" alt="Slide 1" />
	  <div class="caption">
	    <p>One of the promo stills</p>
	  </div>
	</div>

	<div class="slide">
	  <img src="/site_media/images/slide9.JPG" width="500" alt="Slide 1" />
	  <div class="caption">
	    <p>Maggie David tells us about reflexology</p>
	  </div>
	</div>

	<div class="slide">
	  <img src="/site_media/images/slide10.JPG" width="500" alt="Slide 1" />
	  <div class="caption">
	    <p>The importance of water issues with expert Michael Cervin</p>
	  </div>
	</div>

	<div class="slide">
	  <img src="/site_media/images/acupuncture.jpg" width="500" alt="Slide 1" />
	  <div class="caption">
	    <p>Acupuncturist Lori Guynes demonstrates</p>
	  </div>
	</div>

      </div>
      <a href="#" class="prev"><img src="/site_media/images/arrow-prev.png" width="24" height="43" alt="Arrow Prev"></a>
      <a href="#" class="next"><img src="/site_media/images/arrow-next.png" width="24" height="43" alt="Arrow Next"></a>
    </div>
  </div>
</div>
<div class="clear"> </div>
<div class="endsection"> </div>
</div>
{% endblock %}
