{% extends "base.html" %}

{% block content %}

<h2>Upcoming Events Featuring Kathy Gruver</h2>

<ul class="content_list">
  
  {% for object in upcoming_events %}

  <li>
    
    {% if object.link %}
    <a href="{{ object.link }}" rel="external">
    {% endif %}

      <h4>{{ object.title }}</h4>

    {% if object.link %}
    </a>
    {% endif %}
    
    <p>{{ object.date_and_time }} at {{ object.location }}</p>
    <p>{{ object.description }}</p>
  
  </li>

  {% endfor %}
  
</ul>
<div class="endsection"> </div>

{% endblock %}
