{% extends "base.html" %}

{% block header %}
<h1>Kathy as an Expert Witness</h1>
{% endblock %}

{% block content %}
<div class="grid_9" id="expert_witness">
<br />
<p>Dr. Kathy Gruver, PhD has assisted with multiple court cases as an expert witness for both the prosecution and defense.</p>
<br />
<ul>
<li>Reviewing depositions</li>
<li>Giving expert advise to counsel</li>
<li>Preparing expert reports</li>
<li>Analysis of legitimacy of case</li>
<li>Research on local/national regulations regarding the offense</li>
<li>Recommending questions for counsel during examination and cross-examination</li>
</ul>
<br />
<p>Dr. Gruver is available for depositions and appearing in court as an expert witness in California and nationwide. Kathy is professional, well-spoken and trained in public speaking. She is comfortable during examination and cross-examination and is truly an expert in her field. Please contact her for help with any cases involving personal injury, negligence or ethical/professional violations concerning massage and/or natural health. Please see Background page for her CV.</p>
<br />
<p>“Dr. Gruver is an exceptional consulting expert, and is readily available to assist in the investigation and preparation of a case. My client was charged with a criminal offense as a result of an incident that occurred during a therapeutic massage session. Dr. Gruver provided invaluable insights into the history, licensing, training and practice of massage therapy. Dr. Gruver authored an excellent report that detailed the accepted literature in the field addressing the relevant issue, and brought to bear her own knowledge and experience in dealing with similar issues to prove that the incident was a matter of mistake and could have been avoided. After reviewing Dr. Gruver’s report, the prosecution decided to dismiss the charges. Dr. Gruver helped my client to avoid an unwarranted prosecution.”</p>
<br />
<p>William K. Mosca, Jr.</p>
<p>Bevan, Mosca, Giuditta & Zarillo, P.C.</p>
<p>Basking Ridge, New Jersey 07920</p>
<br />
<p>Phone: (908) 753-8300</p>
<p>Fax: (908) 848-6423</p>
</div>
{% endblock %}
