<div id="youtube_video">
<object width="315" height="250"><param name="movie" value="//www.youtube.com/v/{{ youtube_video.video_id }}?version=3&amp;hl=en_US&amp;rel=0"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="//www.youtube.com/v/{{ youtube_video.video_id }}?version=3&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="315" height="250" allowscriptaccess="always" allowfullscreen="true"></embed></object>
</object>
</div>
